html{
    background-color: lightgreen;       
}
h1{
    font-size: 40px;
}
img{
    margin: 10px;
    border-radius: 10%;
}
body{
    width: 40%;
    height: 50%;
    border: 15px solid green;
    text-align: center;
    align-content: center;
    padding: 0px 20px 20px 20px;
    margin: 5px auto;
    border-radius: 10%;
    font-family: 'Cabin', sans-serif;
    box-shadow: 10px 10px 500px green;
}

label{
    font-size: 16px;
    margin: 5px;
    padding: 5px;
    font-weight: bold;
}

input{
    font-size: 15px;
    margin: 5px;
    padding: 5px;
    border-radius: 5%;
    width: 100%;
}
table{
    margin: auto;
}
button{
    font-size: 15px;
    margin: 10px 10px 10px 10px;
    font-weight: bold;
}